<div class="container">
  <div class="col">
    <%= form_with model: task, local: true do |f| %>
      <%= render 'layouts/errors', obj: task %>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control task_title' %>
      </div>
      <div class="form-group">
        <%= f.label :image %><br>
        <%= f.file_field :task_image, accept: "image/*", class: "form-control-file task_image" %>
      </div>

      <div class="form-group">
        <%= f.submit class: 'btn btn-sm btn-outline-success' %>
      </div>

    <% end %>

    <%= link_to '一覧へ', tasks_path, class: "btn btn-sm btn-outline-primary" %>
  </div>
</div>