<!DOCTYPE html>
<html>
  <head>
    <title>KaiMemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/e99d188784.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background: #E3E7F1;">
    <%= render "layouts/header" %>
    <main style="margin-bottom: 80px">
      <div class="container">
        <p id="notice"><%= notice %></p>
      </div>
      <%= yield %>
    </main>
    <footer class="text-white fixed-bottom pt-3 pb-2" style="background: #748DA6;">
      <p class="d-flex justify-content-center text-white" style="font-size:15px;">© 2024 N</p>
    </footer>
  </body>
</html>
