<!DOCTYPE html>
<html>
  <head>
    <title>KaiMemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/e99d188784.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li><%= link_to 'Home', tasks_path %></li>
        <li><%= link_to 'Add', new_task_path %></li>
      </ul>
    </header>
    <main>
      <div class="container">
        <p id="notice"><%= notice %></p>
      </div>
      <%= yield %>
    </main>
    <footer>

    </footer>
  </body>
</html>
